---
import { getCollection } from 'astro:content';
import AuthorItem from 'src/components/AuthorItem.astro';
import Layout from 'src/layouts/Layout.astro';

const authors = await getCollection('author');
---

<Layout title={'Authors'}>
  <section class='bg-white dark:bg-gray-900'>
    <div class='container px-6 py-10 mx-auto'>
      <h1 class='text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white'>Autores</h1>

      <div class='grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2'>
        {authors.map((author) => <AuthorItem author={{ ...author.data, id: author.id }} />)}
      </div>
    </div>
  </section>
</Layout>
